# Name: DStretch

# Description:
# This plugin does a decorrelation stretch on color images.

# Author: Jon Harman (jonharman@prodigy.net)
# Version: 6.3
# Date: 01/15/2008

# Generate the jar file using: "jar cvfM DStretch_.jar *"

Plugins>DStretch, "DStretch...Run", DStretch_
Plugins>DStretch, "DStretch...One", DStretch_("One")
Plugins>DStretch, "DStretch...About", DStretch_("about")
Plugins>DStretch, "DStretch...Help", DStretch_("help")
Plugins>DStretch, "-"," "
Plugins>DStretch, "DStretch...Flatten", DStretch_("ni flt")
Plugins>DStretch, "DStretch...Invert", DStretch_("ni inv")
Plugins>DStretch, "DStretch...Auto Contrast", DStretch_("ni ac")
Plugins>DStretch, "DStretch...Color Balance", DStretch_("ni cb")
Plugins>DStretch, "DStretch...Adj Colors", DStretch_("ni cadj")
Plugins>DStretch, "DStretch...Hue Shift", DStretch_("ni hs")
Plugins>DStretch, "DStretch...YSmooth", DStretch_("ni ysmo")
Plugins>DStretch, "DStretch...CSmooth", DStretch_("ni csmo")
Plugins>DStretch, "-"," "
Plugins>DStretch, "DStretch...Batch", DStretch_("batch")
Plugins>DStretch, "-"," "
Plugins>DStretch, "Hue Histogram...Run", Hue_Histogram
Help>About Plugins, "DStretch...", DStretch_("about")
Plugins>DStretch Direct, "DStretch...Set Scale", DStretch_("ni ss")
Plugins>DStretch Direct, "DStretch...YDS", DStretch_("ni yds")
Plugins>DStretch Direct, "DStretch...YBR", DStretch_("ni ybr")
Plugins>DStretch Direct, "DStretch...YBK", DStretch_("ni ybk")
Plugins>DStretch Direct, "DStretch...CRGB", DStretch_("ni crgb")
Plugins>DStretch Direct, "DStretch...LDS", DStretch_("ni lds")
Plugins>DStretch Direct, "DStretch...LAB", DStretch_("ni lab")
Plugins>DStretch Direct, "DStretch...LRE", DStretch_("ni lre")
Plugins>DStretch Direct, "DStretch...RGB", DStretch_("ni rgb")
Plugins>DStretch Direct, "DStretch...YYE", DStretch_("ni dobtn 10")
Plugins>DStretch Direct, "DStretch...YRD", DStretch_("ni dobtn 12")
Plugins>DStretch Direct, "DStretch...LXX", DStretch_("ni lxx")
Plugins>DStretch Direct, "DStretch...YXX", DStretch_("ni yxx")
Plugins>DStretch Direct, "DStretch...More", DStretch_("ni nbtn")

